
body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
}

header, footer {
  background: #111;
  padding: 10px;
}

.channel {
  margin: 20px 0;
}

video {
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
}
